<button libButton status="info" size="medium" (click)="clickFunction($event)">Hello</button>
<button libButton outline status="success" size="large" (click)="clickFunction($event)">Hello</button>
<button libButton status="basic" size="small" (click)="clickFunction($event)">Hello</button>
<button libButton status="danger" size="giant" (click)="clickFunction($event)">Hello</button>
<button libButton outline status="primary" size="tiny" (click)="clickFunction($event)">Hello</button>
<button libButton status="control" size="medium" (click)="clickFunction($event)">Hello</button>
